.logo{
    padding: 5px 40px;
    border-radius: 50%;
    height: 95px;
    width: 165px;
    margin: 0 80px;
}

.navtransition{
    border-radius: 500px;
    transition: 0.7s;
}

.navtransition:hover{
    background-color: red;
}